html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#google_map,
#google_pano {
  float: left;
  height: 50%;
  width: 100%;
}
#map_type_button {
  position: absolute;
  top: 51%;
  left: 92%;
}
#map_type_button > i {
  transform: scale(1.3);
}
#map_provider_button {
  position: absolute;
  top: 1%;
  left: 92%;
}
/* select {
  position: absolute;
  top: 1%;
  left: 62%;
  z-index: 1;
} */
